:root {
  --primary-color: #e50914;
  --dark-color: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #999;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

.showcase {
  width: 100%;
  height: 90vh;
  position: relative;
  background: url("https://i.ibb.co/vXqDmnh/background.jpg") no-repeat center
    center/cover;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgb(0, 0, 0, 0.6);
  box-shadow: inset 120px 100px 250px #000, inset -120px -100px 250px #000;
}

.showcase-top {
  position: relative;
  height: 90px;
  z-index: 2;
}
.showcase-top img {
  width: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.showcase-content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  z-index: 2;
}
.showcase-content h1 {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}

.showcase-content p {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400px;
  font-size: 1.9rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

/* tabs */
.tabs {
  background: var(--dark-color);
  padding: 1rem 0;
  border-bottom: 3px solid #3d3d3d;
}
.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: -39px;
}

.tabs p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.tabs .container > div {
  padding: 1.5rem;
}

.tabs .container > div:hover {
  color: #fff;
  cursor: pointer;
}

/* Tab Content */
.tab-content-item {
  padding: 2rem 0;
  background: #000;
}

/* Hide content initially */
#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
}

.show {
  display: block !important;
}

#tab-1-content .tab-1-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

#tab-2-content .tab-tow-content-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
}

#tab-2-content .tab-tow-content-bottom {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;

  grid-gap: 2rem;
  margin-top: 2rem;
}
table {
  width: 80%;
  margin-top: 2rem;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 70px auto;
}

.table thead th {
  text-transform: uppercase;
  padding: 0.8rem;
  color: #fff;
}

.table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.table tbody tr td {
  color: #999;
  padding: 0.8rem 1.2rem;
  text-align: center;
}

.table tbody tr td:first-child {
  text-align: left;
}

.table tbody tr:nth-child(odd) {
  background: #222;
}

/* Footer */

.footer {
  max-width: 75%;
  margin: 1rem auto;
  overflow: auto;
}

.footer,
.footer a {
  color: #999;
  font-size: 0.9rem;
}

.footer .footer-cols ul {
  list-style: none;
}
.footer p {
  margin-bottom: 1.5rem;
}
.tab-border {
  border-bottom: var(--primary-color) 4px solid;
}

.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

footer li {
  line-height: 1.9;
}
/* container */
.container {
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Text Styles */

.text-xl {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-lg {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #fff;
  padding: 0 2rem;
}

.text-md {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #fff;
}

.text-center {
  text-align: center;
}
.text-dark {
  color: #999;
}

/* button on top left side */
.btn {
  display: inline-block;
  background: var(--primary-color);
  color: white;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgb(0, 0, 0 0.45);
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-xl {
  font-size: 2rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
}
.btn-lg {
  font-size: 1rem;
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
}

.container {
  display: flex;
  height: auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .showcase {
    height: 90vh;
  }

  .showcase::after {
    background: none;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 5%,
      rgba(0, 0, 0, 0) 95%
    );
  }

  .showcase-content h1 {
    font-size: 3rem;
    line-height: 1;
  }

  .showcase-content p {
    font-size: 1.2rem;
  }

  #tab-1-content .tab-1-content-inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    align-items: center;
  }

  #tab-2-content .tab-tow-content-top {
    display: grid;
    grid-template-columns: 1fr;
  }
  #tab-2-content .tab-tow-content-bottom {
    display: grid;
    grid-template-columns: 1fr;
  }
  .text-lg {
    font-size: 1.2rem;
  }
  .btn-lg {
    font-size: 1rem;
    padding: 0.8rem 1rem;
    text-transform: uppercase;
  }

  /* Tab 3 */
  .text-lg {
    font-size: 1.1rem;
    padding: 0 1.5rem;
  }
  /* Table */
  .header-th {
    font-size: 0.8rem;
  }

  .header-th:first-child {
    display: none;
  }

  .header-th:first-child:not(:first-child) {
    width: 33%;
    min-width: 33%;
    text-align: center;
  }

  

  .table tbody tr td {
    color: #999;
    padding: 0.8rem 1rem;
  }
  .table td {
    font-size: 0.88rem;
  }


  .btn-xl {
    font-size: 1.3rem;
    padding: 1.2rem 1.6rem;
  }

  .footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  @media (max-width: 576px) {
    .showcase-top img {
      width: 75px;
    }
    .showcase-top img {
      left: 15%;
    }

    .showcase-content h1 {
      font-size: 2.5rem;
      margin: 0 0 0.3rem;
    }

    .showcase-content p {
      font-size: 1.1rem;
      margin: 0 0 1rem;
    }

    .btn {
      margin: 0 auto;
    }

    .btn-xl {
      font-size: 1rem;
    }

    .tabs .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: -39px;
    }

    .tabs p {
      font-size: 1rem;
      padding-top: 0.5rem;
    }

    .tabs .container > div {
      padding: 1.5rem 0;
    }
  }
}
